
<% cache @excursion do %>
  <h1> <%= @excursion.name %> </h1>
<% end %>
<%= link_to "Voltar", excursions_path %>
<% if authenticated? %>
  <%= link_to "Editar", edit_excursion_path(@excursion) %>
  <%= button_to "Deletar", @excursion, method: :delete, data: { turbo_confirm: "Você tem certeza?" } %>
<% end %>
<p>
  <strong>Nome:</strong>
  <%= @excursion.name %>
</p>